*{
    padding: 0;
    margin: 0;
}
.horizontal{
  --tw-bg-opacity: 1;
  background-color: rgb(245 247 250/var(--tw-bg-opacity));
  height: 375px;
}
.local1{
    margin-top: 70px;
}
.card1{
    display: inline-block !important;
    margin-top: 60px;
    margin-left: 35px;
}
.card2{
    display: inline-block;
    margin-left: 267px !important;
    margin-top: 50px;
    vertical-align: top;
}
.image{
    width: 100%;
    display: inline-block;
    height: auto;
    margin-left: 30px;
    --tw-bg-opacity: 1 !important;
    background-color: rgb(245 247 250/var(--tw-bg-opacity)) !important;
}
.division{
    color: #008000;
    font-weight: 600;
    font-size: 45px;
    margin-right: 180px;
}
.lessons{
    font-weight: 600;
    font-size: 48px;
}
.registration{
  background-color: #10a962;
  border-radius: 5px;
  padding: 10px;
  color: #ffffff;
  width: 120px;
  margin-top: 0px;
  border:none;
}
.image:hover{
  animation:alternate;
}

.card {
    position: relative;
    display: flex;

    background-color:rgb(245 247 250/var(--tw-bg-opacity)) !important;
}
























