*{
    padding: 0;
    margin: 0;
}
.image-container{
    padding: 5px;
}
.imagess{
    margin-left: 50px;
}
.text{
    text-align: center;
    margin-top: 50px;
}
.para1{
    text-align: center;
    font-size: 15px;
    
}

