*{
    margin: 0;
    padding: 0;
}
.list-group{
    background-color: rgb(38 50 56);
}
.list-group-item {
    position: relative;
    display: block;
    padding: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x);
    text-decoration: none;
    background-color: rgb(38 50 56) !important;
    color: #ffffff !important;
    border: none !important;
    margin-left: 30px;
}