*{
    margin: 0;
    padding: 0;
}
.card-body {
    flex: 1 1 auto;
    padding: 0px !important;
    color: var(--bs-card-color);
}
.people3{
    display: inline-block;
}
.people4{
    display: inline-block;
}
.people5{
    display: inline-block;
}
.iconss{
    margin-top: 0px;
}
/* .card{
    --bs-card-spacer-y: 0rem !important;
} */

@media screen and (min-width:480px) {
    .media-cards{
        width: 100%;
        margin-top: 0px;
    }
    .card-icon{
        margin-top: 0px !important;
    }
}