*{
    margin: 0;
    padding: 0;
}
.card-text3{
    margin-top:57px;
    font-size: 14px;
    margin-left: 100px;
    text-align: justify;
}
.card-text4{
    color:#10a962;
    text-align: left;
    margin-left: 100px;
    font-weight: 400;
}
.card-text5{
    text-align: left;
    margin-left: 100px;
}
.card-text6{
    margin-left: 50px;
    color: #10a962;
}

.carding2{
    display: inline-block;
}
.carding-group{
    margin-top: 60px;
}
.imagess3{
    margin-left: 25px;
}
@media screen and (max-width:1024px) {
    .card-text6{
        margin-left: 52px;
    }
    
}
@media  screen and (max-width:800px) {
    .card-text3{
        text-align: justify;
        width: 75%;
        margin-left: 25px;
        margin-top: 50px;
    }
    .card-text4{
        width: 80%;
        margin-left: 30px;
        margin-top: 0px;
    }
    .card-text5{
        width: 80%;
        margin-left: 30px;
        margin-top: 0px;
    }
    .card-text6{
        width: 80%;
        margin-left: -1px;
        margin-top: 0px;
    }
    .cards-group2{
        width: 75% !important;
        margin-left: 30px;

    }
}
@media  screen and (max-width:428px) {
    .card-text3{
        text-align: justify;
        width: 80%;
        margin-left: 35px;
        margin-top: 30px;
    }
    .card-text4{
        width: 80%;
        margin-left: 30px;
        margin-top: 0px;
    }
    .card-text5{
        width: 80%;
        margin-left: 30px;
        margin-top: 0px;
    }
    .card-text6{
        width: 80%;
        margin-left: -13px;
        margin-top: 0px;
    }
    .cards-group2{
        margin-left: 60px;
    }
    .imagess3{
        margin-left: 15px;
    }
    
}
@media screen and (max-width:375px) {
    .imagess3{
        margin-left: 15px;
    }
}
@media  screen and (max-width:320px) {
    .card-text3{
        text-align: justify;
        width: 75%;
        margin-left: 33px;
        margin-top: 50px;
    }
    .card-text4{
        width: 80%;
        margin-left: 30px;
        margin-top: 0px;
    }
    .card-text5{
        width: 80%;
        margin-left: 30px;
        margin-top: 0px;
    }
    .card-text6{
        width: 80%;
        margin-left: -1px;
        margin-top: 0px;
    }
    .cards-group2{
        width: 75% !important;
        margin-left: 60px;

    }
    .imagess3{
        margin-left: 10px;
    }
}